/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: var(--grey);
    border-radius: 0px 0px 50px 50px;
    -moz-border-radius: 0px 0px 50px 50px;
    -webkit-border-radius: 0px 0px 50px 50px;
    -webkit-box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.3);

}

.intro__container {
    margin-top: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.intro__inner {
    width: 45%;
    max-width: 880px;
    text-align: center;
}

.intro__title {
    background: linear-gradient(to left, var(--light), #2a0845);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}


.intro__suptitle {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text {
    background: var(--gradient-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-text 7s ease infinite;
    background-size: 200%;
}

@keyframes gradient-text {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.hero-img {
    width: 45%;
    margin-bottom: 20px;
}

/* socials */
.links {
    text-align: center;
    margin: 20px 0;
}

.links a {
    text-decoration: none;
}

.social-img {
    width: 30px;
    border-radius: 7px;
    -webkit-box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.4);
}

.social-link {

    margin-right: 20px;
}

.social-link:last-child {
    margin: 0;
}

/* Button */
.btn {
    display: inline-block;
    text-decoration: none;
    color: var(--grey);
    text-transform: uppercase;
    background-color: var(--dark);
    padding: 15px 30px;
    margin: 10px 0px;
    border-radius: 25px;
    border: 1px solid var(--dark);
    -webkit-box-shadow: 0px 10px 40px -5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 10px 40px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 10px 40px -5px rgba(0, 0, 0, 0.4);
}

.btn:hover {
    background-color: var(--light);
    border-radius: 25px;
    transition: .3s linear;
    border: 1px solid var(--light);
}

.btn:hover:active {
    background-color: var(--grey);
    border-radius: 25px;
    color: var(--dark);
    transition: .2s linear;
}

/* Section */
.section {
    padding: 80px 0;
}

.section--clients {
    background: var(--grey);
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -webkit-box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.3);
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;

    text-align: center;
}

.section__suptitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #333;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    /* color: #333; */
    text-transform: uppercase;
    background: linear-gradient(to left, var(--light), #2a0845);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;
    background-color: var(--light);
}

.section__text {
    font-size: 15px;
    color: #999;
}